    <nav>
      <a href="/" style="color:white">Home</a> &#124; 
    <a href="/study" style="color:white" >Select Study</a> &#124; 
    <a href="/help" style="color:white" >Help</a> &#124; 
    <!-- {% if session['logged_in'] %}
      <a href="/create_study" style="color:white">Create Task</a> &#124; 
      <a href="/logout" style="color:white">Logout</a> &#124; 
    {% else %}
        <a href="/login" style="color:white">Login</a> &#124; 

    {% endif %}-->
      <!-- <a href="/registrate"> Register </a> &#124; -->
      <!-- <a href="/annotation_task_description">Instructions</a> &#124; -->
    </nav>
