{% extends 'base.html' %}

{% block title %} List of Tasks{% endblock %}

{% block content %}

    <h3>Please select a task you are interested in.</h3>
    
      <form action="/consent_all" id=result method="POST">

            {% for task in data.tasks %}
               <input type="radio" id="{{ task.id }}" name="study" value="{{ task.id }}" required/> {{ task.name }} </br>
            {% endfor %} 

        <div class="command">
          <button type="submit" name="submit">Select Task</button>
        </div>
      </form>
      
<p>This will take you to a consent form. We aim to be very clear about what we are doing with this data, and how privacy might be affected. Read it through, and if you’re interested click the consent checkbox and Start Annotation Task. This will take you to the Clarin page.</p>

<p>In order to get started with UKP citizen science projects, you first need to sign up through Clarin. Clarin is a service that allows anyone to be able to participate in a variety of scientific efforts. You can think of it as a log-in service to a number of language-based tools, including our platform INCEpTION. Note that we will not save nor make use of any personal data you provide to Clarin. If you already have a Clarin account, you can use it to login via the provided portal. If not, you can sign up for one here:</p>

<a href="https://idm.clarin.eu/unitygw/pub#!registration-CLARIN%20Identity%20Registration" target="_blank" rel="noopener noreferrer">Clarin Registration</a> (this will take you to an external page)

<p>Once you’ve logged in with Clarin, you’ll be taken to our INCEpTION annotator: just click Join Project and you can get started!</p>
	
{% endblock %}

