{% extends 'base.html' %}

{% block content %}

<p><strong>Fighting Misinformation with Citizen Science</strong> 
</br> </br> 
Massive amounts of data are being created each day, and we need your help to combat false and misleading information. This project aims to get citizens involved in the fight against misinformation by involving them in argument annotation: with your help, we can build better systems for identifying, categorizing, and verifying the quality of online information.
</br> </br> 
Get started by viewing our Projects!</p>

<p><a class="button" href="/study">View Projects</a></p>

{% endblock %}

