{% extends 'base.html' %}

<script>
function handleData()
{
    var form_data = new FormData(document.querySelector("form"));
    
    if(!form_data.has("langs[]"))
    {
        document.getElementById("chk_option_error").style.visibility = "visible";
      return false;
    }
    else
    {
        document.getElementById("chk_option_error").style.visibility = "hidden";
      return true;
    }
    
}
</script>

{% block title %}- Data Privacy and Informed Consent {% endblock %}

{% block content %}

<h2>Data Privacy and Informed Consent</h2>

<p>
In this annotation task, you will be asked to provide annotations for specific tweets. To evaluate and further process the data, we would like to ask you for your informed consent. In the following, we provide a description what data will be collected in this study and with whom and for what purpose the data will be shared with. 
</p>
<p>
<b>Data controller and contact person</b>
    <div class="tweet">
    {{ data.userdata.name }}</br>
    {{ data.userdata.address }} </br>
    {{ data.userdata.email }}
    </div>
</p>

<p>
<b>Purpose of this study</b>
    <div class="tweet">
    {{ data.purpose }}
    </div>
</p>


<h3>Collected Data</h3>
<p>
    <div class="tweet">
    <b>Non-personal Data</b>
    <ul>
    {% for pub in data.public %}
        <li>{{ pub }}</li>
    {% endfor %} 
    </ul> 
    <b>Personal Data</b>
    <ul>
    {% for pers in data.personal %}
        <li>{{ pers }}</li>
    {% endfor %} 
    </ul> 
    
    {% if data.questionnaire.usage %}
    <p><b>Questionnaire</b></br>
    <i>After the study, you will additionally be asked to fill out a questionnaire. It will cover the following topics.</i></br></br>
    {{ data.questionnaire.description }}</p>
    {% endif %}

    </div>
</p>


<h3>Usage, access, deletion, and publication of the collected data</h3>

<p>
<b>Usage of the collected data</b>
    <div class="tweet">
    {{ data.usage }}
    </div>
</p>

<p>
<b>Third parties to whom the data will be disclosed</b>
    <div class="tweet">
    {{ data.publication }}
    </div>
</p>

<p>
<b>How to access, rectify and delete the non-personal data </b>
    <div class="tweet">
    {{ data.deletion }}
    </div>
</p>

<h3>Next Steps</h3>

    <p>
        <b>Thank you so far for your cooperation!</b></br>
        By agreeing and clicking on the button below, you will be forwarded to an annotation channel where you can login with the credentials provided by us. 
        Please bookmark the page to directly access the study and follow the guidelines. If you have any questions, please contact the person linked in the study page (the same one who has been listed here).
        
    </p>
    
    <p>
        The study will use <b>INCEpTION</b> as the underlying annotation channel. For instructions on how to navigate through the channel, please check out the <a href="/help" target="_blank" rel="noopener noreferrer">guidelines</a> (these can also be found under 'help' in the naviation bar).</br>

    </p>


<form id="study" action="/agree">
    <p><input type="checkbox" required name="data_usage">I have read and understood the terms regarding the collected data (proceed to usage, access, delection, and publication of the data). <b>I consent to the above stated usage of my data.</b></p>
    
    <p>
    For some general statistics, please consider answering the following question (voluntary)</br>
    Where did you hear from this study? </br>
    <input type="radio" id="twitter" name="channel" value="twitter">
    <label for="twitter">Twitter</label> </br>
    <input type="radio" id="facebook" name="channel" value="facebook">
    <label for="facebook">Facebook</label> </br>
    <input type="radio" id="linkedin" name="channel" value="linkedin">
    <label for="twitter">Linkedin</label> </br>
    <input type="radio" id="mailing" name="channel" value="mailing">
    <label for="mailing">Mailing lists (Corpora-list, ML-news, etc.)</label> </br>
    <input type="radio" id="stellenwerk" name="channel" value="stellenwerk">
    <label for="stellenwerk">Stellenwerk Darmstadt</label> </br>
    </p>
    
  <input class="button"type="submit" value="Start the Annotation Task">
  
  
</form>
<p><a class="button" href="/disagree">I don't want to participate in the study.</a></p> 

{% endblock %}

