{% extends 'base.html' %}

{% block title %} List of Tasks{% endblock %}

{% block content %}

    <h3>Please select a task you are interested in.</h3>
    
      <form action="/informed_consent" id=result method="POST">

            {% for task in data.tasks %}
               <input type="radio" id="{{ task.id }}" name="study" value="{{ task.id }}" required/> {{ task.name }} </br>
            {% endfor %} 

        <div class="command">
          <button type="submit" name="submit">Select Task</button>
        </div>
      </form>
	
{% endblock %}

