{% extends 'base.html' %}

<h2>Data Privacy and Informed Consent</h2>

<p>
In this annotation task, you will be asked to provide annotations for specific tweets. To evaluate and further process the data, we would like to ask you for your informed consent. In the following, we provide a description what data will be collected in this study and with whom and for what purpose the data will be shared with. 
</p>
<p>
<b>Data controller and contact person</b>
    <div class="tweet">
    {{ data.userdata.name }}</br>
    {{ data.userdata.address }} </br>
    {{ data.userdata.email }}
    </div>
</p>

<p>
<b>Purpose of this study</b>
    <div class="tweet">
    {{ data.purpose }}
    </div>
</p>


<h3>Collected Data</h3>
<p>
    <div class="tweet">
    <b>Non-personal Data</b>
    <ul>
    {% for pub in data.public %}
        <li>{{ pub }}</li>
    {% endfor %} 
    </ul> 
    <b>Personal Data</b>
    <ul>
    {% for pers in data.personal %}
        <li>{{ pers }}</li>
    {% endfor %} 
    </ul> 
    
    {% if data.questionnaire.usage %}
    <p><b>Questionnaire</b></br>
    <i>After the study, you will additionally be asked to fill out a questionnaire. It will cover the following topics.</i></br></br>
    {{ data.questionnaire.description }}</p>
    {% endif %}

    </div>
</p>

<p><input type="checkbox" required name="data_usage">I have read and understood the terms regarding the collected data (proceed to usage, access, delection, and publication of the data).</p>

<h3>Usage, access, deletion, and publication of the collected data</h3>

<p>
<b>Usage of the collected data</b>
    <div class="tweet">
    {{ data.usage }}
    </div>
</p>

<p>
<b>Third parties to whom the data will be disclosed</b>
    <div class="tweet">
    {{ data.publication }}
    </div>
</p>

<p>
<b>How to access, rectify and delete the non-personal data </b>
    <div class="tweet">
    {{ data.deletion }}
    </div>
</p>

<p><input type="checkbox" required name="data_processing">I have read and understood the terms about the usage of the collected data and consent to its usage of my data.</p>

<h3>Next Steps</h3>

    <p>
        <b>Thank you so far for your cooperation!</b></br>
        By clicking on the button below, you will be forwarded to an annotation platform where you can login with the credentials provided by us. 
        Please bookmark the page to directly access the study and follow the guidelines. If you have any questions, please contact the person linked in the study page (the same one who has been listed here).
        
    </p>

<p><a class="button" href="{{ data.url }}">Start the Annotation Task</a></p>
<p><a class="button" href="/disagree">I don't want to participate in the study.</a></p> 

{% endblock %}

